<style>
    .navbar{
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 6px 20px;
        background-color: var(--primary-color);
        z-index: 9999;
    }
    .navbar--left{
        font-size: calc(3*var(--primary-font-size));
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        letter-spacing: 3px;
    }
    .navbar--left:hover{
        text-decoration: none;
    }
    .navbar--middle > form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar--middle > form > input{
        width: calc(40 * var(--primary-font-size));
        height: calc(3 * var(--primary-font-size));
        padding-left: 20px;
        border-radius: 6px;
        font-size: calc(1.5 * var(--primary-font-size));
        border-color: #fff;
        outline: none;
    }
    .navbar--middle > form > input:focus{
        outline: none;
    }
    .navbar--middle > form > button {
        width: calc(8 * var(--primary-font-size));
        height: calc(3 * var(--primary-font-size));
        border-radius: 6px;
        background-color: #fff;
        color: #333;
        font-weight: 600;
        cursor: pointer;
        border: 2px solid #fff;
        margin-left: 14px;
    }
    .navbar--middle > form > button:hover {
        opacity: .8;
        background-color: var(--primary-color);
        color: #fff;

    }

    .navbar--right {
        margin-right: 20px;
    }
    
    .navbar--right, .navbar--right  a{
        display: flex;
        justify-content: center;
        color: #ffffff;
        text-decoration: none;
    }
    .navbar--right  a{
        margin-left: 30px;
        font-weight: 600;
    }
    .navbar--right a i{
        text-align: center;
        vertical-align: middle;
    }

    .navbar--right a i:hover{
        opacity: .8;
        color: rgb(204, 204, 204);
    }

    {{!-- RESPONSIVE --}}
    @media only screen and (max-width: 768px){
        .navbar--middle > form > input{
            width: calc(20 * var(--primary-font-size));
            height: calc(3 * var(--primary-font-size));
            padding-left: 20px;
        }
        
        .navbar--middle > form > button {
            width: calc(6 * var(--primary-font-size));
            height: calc(3 * var(--primary-font-size));
            cursor: pointer;
        }
    }
    @media only screen and (max-width: 425px){
        .navber-hamburger{
            display: inline-block !important;
            width: 20%;
        }
        .navbar{
            padding: 10px;
        }
        .navbar--left{
            font-size: calc(2.5 * var(--primary-font-size));
        }
        
        .navbar--middle > form > input{
            width: calc(15 * var(--primary-font-size));
            height: calc(3 * var(--primary-font-size));
            padding-left: 20px;
        }

        .navbar--middle > form > button {
            width: calc(3 * var(--primary-font-size));
            height: calc(3 * var(--primary-font-size));
            cursor: pointer;
        }

        .navbar--right{
            width: 20%;
        }
        .navbar--right > form > div > span{
            display: none;
        }
        .navbar--right  i{
            margin: 0px;
            
        }
        .navbar--right  a{
            margin: 0px;
            display: none;
        }
    }
</style>

<div class="navbar">
    
    <a style="color: #fff;margin-left: 20px;" class="navbar--left" href="/">COVINA</a>

    <div class="navbar--middle">
        <form method="POST" action="/product/search">
            <input type="text" name="search" value="" placeholder="Tìm kiếm..."/>
            <button type="submit">Tìm kiếm</button>
        </form>    
    </div>

    <div class="navbar--right">
        <a style="display: flex; align-items: center; justify-content: center" href="/cart"><i style="font-size: 24px;" class="fas fa-shopping-cart"></i></a>
        {{#if isLogin}}
            <a class="text-hover" href="/user/info/{{isLogin.username}}">
            {{current}}
            </a>
            <a class="text-hover" href="/signout"> Đăng xuất</a>
        {{/if}}
    </div>
</div>