<style>

    .title {
        margin-bottom: 5vh
    }

    .card {
        margin: auto;
        width: 90%;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1rem;
        border: transparent
    }

    @media(max-width:767px) {
        .card {
            margin: 3vh auto
        }
    }

    .cart {
        background-color: #fff;
        padding: 4vh 5vh;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem
    }

    @media(max-width:767px) {
        .cart {
            padding: 4vh;
            border-bottom-left-radius: unset;
            border-top-right-radius: 1rem
        }
    }

    .summary {
        background-color: #ddd;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 4vh;
        color: rgb(65, 65, 65)
    }

    @media(max-width:767px) {
        .summary {
            border-top-right-radius: unset;
            border-bottom-left-radius: 1rem
        }
    }

    .summary .col-2 {
        padding: 0
    }

    .summary .col-10 {
        padding: 0
    }

    .row {
        margin: 0
    }

    .title b {
        font-size: 1.5rem
    }

    .main {
        margin: 0;
        padding: 2vh 0;
        width: 100%
    }

    input:focus::-webkit-input-placeholder {
        color: transparent
    }

    .btn {
        background-color: #000;
        border-color: #000;
        color: white;
        width: 100%;
        height: 30px;
        font-size: 0.7rem;
        font-weight: bold;
        margin-top: 4vh;
        padding: 1vh;
        border-radius: 0
    }

    .btn:focus {
        box-shadow: none;
        outline: none;
        box-shadow: none;
        color: white;
        -webkit-box-shadow: none;
        -webkit-user-select: none;
        transition: none
    }

    .btn:hover {
        color: white
    }

    a {
        color: black
    }

    a:hover {
        color: black;
        text-decoration: none
    }

    .border{
        margin: 0 10px;
        text-align: center;
        display: inline-block;
        width: 30px;
    }

</style>
<div class="card" style="margin-top: 60px;">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Giỏ Hàng</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">3 Sản Phẩm</div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                {{#each listCart}}
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div>
                    <div class="col">
                        <div class="row">{{this.TenGoi}}</div>
                    </div>
                    <div class="col"> <a href="#" style="font-size: 24px;">-</a><a href="#" class="border">1</a><a href="#" style="font-size: 24px;">+</a> </div>
                    <div class="col"> {{this.GiaTien}} vnd <span class="close">&#10005;</span></div>
                </div>
                {{/each}}
            </div>
            
            <div class="back-to-shop"><a href="#">&leftarrow;<span class="text-muted">Tiếp Tục Mua Sắm</span></a></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Tổng Cộng</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS 3</div>
                <div class="col text-right">&euro; 132.00</div>
            </div>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&euro; 137.00</div>
            </div> <button class="btn">THANH TOÁN</button>
        </div>
    </div>
</div>